.main-container .about.side{
	padding-left: rem-calc(52);
	width: rem-calc(562);
}

 .about{
	a{
		span{
			border-bottom-color:$blue;
		}
	}

				.buy-block{
					width: 310px;
					padding-top: rem-calc(25);
					.price{
						background: $pblue;
						-webkit-border-radius: 8px;
						-moz-border-radius: 8px;
						border-radius: 8px;
						padding: rem-calc(22) rem-calc(20) rem-calc(28) rem-calc(21);
						.data{
							color: $llgray;
							font-size: rem-calc(12);
							margin: 0;
							span{
								color: $geern;
								padding-left: rem-calc(10);
							}
						}
						.cost{
							color: $ddgray;
							font-size: rem-calc(51);
							font-weight: 700;
							line-height: rem-calc(65);
							margin-bottom: rem-calc(5);
							margin-top: rem-calc(3);
							sup{
								font-size: rem-calc(30);
								top: rem-calc(-20);
							}
						}
						.bulk{
								.bulk-info{
									padding-left: rem-calc(11);
									padding-top: rem-calc(4);
									height: rem-calc(48);
									width: 150px;
									p{
										margin: 0;
										color: $new;
										font-size: rem-calc(12);
										line-height: rem-calc(14);
										sup{
											top: -2px;
										}
										&.type{
											text-transform: uppercase;
											color: $ddgray;
											font-size: rem-calc(14);
											line-height: rem-calc(14);
											sup{
												top: -5px;
											}
										}
									}
									.has-tip{
										content:url("../img/tooltip.png");
										padding-left: 5px;
										border: 0;
									}
								}
						}
						.buy-btn{
								padding-top: rem-calc(17);
								.btn{
									width: 160px;
									color: white;
									&:hover{
										color: white;
									}
									.icon{
										border: 0;
										float: left;
										width: 36px;
										height: 55px;
										&::before{
											width: 36px;
											height: 36px;
											margin-top: 10px;
										}
									}
								}
						}
					}

					.credit{
						padding:rem-calc(16) rem-calc(0) rem-calc(20) rem-calc(20);
						.links-credit{
							.btn {
								margin:0;
								height: 2.9375rem;
								padding: 0.875rem 1.125rem;
								color:$blue;
								background:none;
								&.default{
									&:hover{
										color:$blue;
									}
								}
								&.credit-calc{
									text-decoration:none;
									width: 120px;
									padding:rem-calc(5);
									float: right;
									text-align: left;
									margin-left: rem-calc(9);
									.icon{
										display: block;
										float: left;
										&::before{
											width: 26px;
											height: 37px;
											margin-right: 7px;
										}
									}
								}
							}
						}
						.links-favorite{
							margin-top:rem-calc(8);
							a{
								margin:0;
								display:table;
								color:$ddgray;
								font-size:rem-calc(13);
								text-align:left;
								&:hover{
									span.link{
										color: $blue;
										border-bottom-color: $blue;
									}
								}
							}
						}
					}
				}
				.modifications{
					width: 195px;
					padding-top: 45px !important;
					padding-left: 11px !important;
					padding-right: 5px !important;
					.modifications-title{
						color: $llgray;
						font-size: rem-calc(12);
						padding-left: 5px;
						margin: 0 0 5px 0;
					}
					ul{
						margin: 0;
						@include clearfix();
						li{
							@include clearfix();
							list-style:none;
							display: block;
							width: 100%;
							a:hover .img > img{
								border: rem-calc(5) solid $border-img;
							}
							.img{
								width: 55px;
								float: left;
								position: relative;
								> img{
									width: rem-calc(55);
									height: rem-calc(55);
									border: rem-calc(5) solid $white;
								}
							}
							.about{
								display: block;
								margin-left: rem-calc(55);
								padding-left: rem-calc(8);
								padding-top: 0;
								position: relative;
								float: none;
								width: auto;
								.title{
									color: $blue;
									line-height: rem-calc(24);
									display: block;
									margin-bottom: 0;
								}
								p{
									color: $llgray;
									font-size: rem-calc(13);
									margin: 0 0 5px 0;
								}
							}
						}
					}
				}
				.delivery{
					margin-top: rem-calc(15);
					border: 1px solid $border;
					-webkit-box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1);
					-moz-box-shadow:    0px 2px 4px 0px rgba(0, 0, 0, 0.1);
					box-shadow:         0px 2px 4px 0px rgba(0, 0, 0, 0.1);
					-webkit-border-radius: rem-calc(7);
					border-radius: rem-calc(7);
					padding: rem-calc(12) rem-calc(16) rem-calc(18) rem-calc(20);
					.title{
						font-size: 1.125rem;
						font-weight: 700;
						text-align: left;
						color: #4a5b70;
						line-height: 1.6875rem;
						margin-bottom: 11px;
						.icon{
							float: left;
							&::before{
								width: 45px;
								height: 30px;
								margin-right: 7px;
							}
						}
					}
					.row{
						.provided{
							width: rem-calc(275);
							position: relative;
							float: left;
							p{
								font-size: rem-calc(13);
								color: $llgray;
								font-weight: 400;
								margin-top: 0;
							}
						}
						.cost{
							width: 145px;
							float: right;
							padding-left: 2.1875rem;
							padding-right: 0;
							p{
								font-size: 0.8125rem;
								color: #333333;
								margin: 0 0 10px;
							}
						}
					}
				}
				.description{
					margin-top: rem-calc(8);
					padding: rem-calc(20) 0 rem-calc(20) rem-calc(20);
					.desk{
						font-size: rem-calc(16);
						line-height: rem-calc(21);
						margin: 0;
						color: $ddgray;
						position: relative;
						margin-bottom: rem-calc(25);
						&::after{
				          content: '';
				          position: absolute;
				          bottom: 0;
				          left: 0;
				          height: rem-calc(21);
				          background: -moz-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,0) 1%, rgba(255,255,255,0.5) 100%);
				          background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,0)), color-stop(1%,rgba(255,255,255,0)), color-stop(100%,rgba(255,255,255,0.5)));
				          background: -webkit-linear-gradient(top, rgba(255,255,255,0) 0%,rgba(255,255,255,0) 1%,rgba(255,255,255,0.5) 100%);
				          background: -o-linear-gradient(top, rgba(255,255,255,0) 0%,rgba(255,255,255,0) 1%,rgba(255,255,255,0.5) 100%);
				          background: -ms-linear-gradient(top, rgba(255,255,255,0) 0%,rgba(255,255,255,0) 1%,rgba(255,255,255,0.5) 100%);
				          background: linear-gradient(to bottom, rgba(255,255,255,0) 0%,rgba(255,255,255,0) 1%,rgba(255,255,255,0.5) 100%);
				          filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#80ffffff',GradientType=0 );
				          line-height: 21px;
				          width: 100%;
						}
					}
					.row{
						a{
							padding: 0;
							margin: 0;
							line-height: 26px;
							letter-spacing: -1px;
							&.left span{
								border-bottom: 1px dotted $blue;
							}
							&.btn{
								line-height: 47px;
								padding: 0 19px;
								text-decoration: none;
								&.default:hover{
									color:$blue;
								}
							}
						}
					}
				}
}
.stock{
					padding: rem-calc(10) rem-calc(15) rem-calc(17) rem-calc(18);
					border: 2px solid $red;
					-webkit-box-shadow: 0px 2px 6px 0px rgba(237, 28, 36, 0.2);
					-moz-box-shadow:    0px 2px 6px 0px rgba(237, 28, 36, 0.2);
					box-shadow:         0px 2px 6px 0px rgba(237, 28, 36, 0.2);
					-webkit-border-radius: 8px;
					-moz-border-radius: 8px;
					border-radius: 8px;
					.stock-title{
						font-weight: 700;
						font-size: rem-calc(18);
						line-height: normal;
						color: $red;
						word-spacing: 0px;
						margin: 0 0 12px;
						letter-spacing: rem-calc(-1px);
					}
					a{
						span{
							border-bottom-color: $blue;
						}
					}
}
.bulk-select{
	width: 117px;
	margin-top: 0;
	margin-bottom: 0;
	font-size: rem-calc(31);
	line-height: rem-calc(50);
	color: $ddgray;
	.number{
		width: 93px;
		font-size: rem-calc(31);
		font-weight: 400;
		line-height: 42px;
		height: 47px;
		padding: rem-calc(2) rem-calc(5) rem-calc(2) rem-calc(5);
		color: $ddgray;
		border: 1px solid $border-drk;
	}
	.controlls{
			width: 1.5rem;
			height: 48px;
			margin-top: 1px;
			display: block;
			float: right;
			background: #f3f3f3;
			border: 1px solid #afb1b7;
			border-left: none;
			.plus{
				border-bottom: 1px solid $border-drk;
			}
			.plus,.minus{
				width: 100%;
				height: 50%;
				position: relative;
				float: left;
				display: block;
				line-height: rem-calc(23);
				-webkit-touch-callout: none;
			    -webkit-user-select: none;
			    -khtml-user-select: none;
			    -moz-user-select: none;
			    -ms-user-select: none;
			    user-select: none;
				&:hover{
					outline: 1px solid #3f3f3f;
					outline-offset: 0px;
				}
				&::before{
					font-size: rem-calc(18);
					line-height: rem-calc(22);
					font-family:$font-family-arial;
					position: relative;
					display: block;
					text-align: center;
					line-height: 23px;
					}
				}
				.plus::before{
					content: '+'
				}
				.minus::before{
					content: '-'
			}
	}
}