.main-section.catalog{
	width: 950px;
	padding: 0 !important;
	.main-container{
		padding-left: 10px;
		.main-title{
			margin-top: 0;
		}
		.slider {
			padding-top: 26px;
			img{
				width: 100%;
			}
		}
	}
}
.sidebar.catalog{
	margin: 0;
	margin-left: 50px;
	padding-top: 80px;
}

.product-side{
		margin-bottom: 30px !important;
		width:190px;
		border:1px solid $border;
		a{
			margin: 0 !important;
			&:hover .title{
				color: $blue;
			}
		}
		.img{
			height: 126px;
			width: 100%;
			background: #f1f1f1;
			display: table;
			> div{	
				text-align: center;
				display: table-cell;
				vertical-align: middle;
			}
			img{
				display: block;
				margin: 0 auto;
			}
		}
		.text{
			padding: 14px 18px 7px 18px;
			background: #ffffff;
			& a,
			& .title{
				font-size: 14px;
				color: #333333;
				font-weight: 700;
				display: block;
				line-height: 15px;
				margin: 3px 0 8px;
			}
		}
		&.sale{
			.text{
				h6{
					color: $red;
				}
			}
		}
}

.blog-article{
		margin-top: 40px !important;
		width: 190px;
		.title{
			color: $title;
			font-weight: 700;
			font-size: 18px;
			margin-top: 0;
			margin-bottom: 20px;
			line-height: 22px;
			word-spacing: 0;
			padding-left: 0;
			padding-right: 10px;
		}
		.column{
			background: #eef6f9;
			padding: 20px 20px 23px 20px !important;
			margin-bottom: 25px;
			.img{
				padding: 12px 0;
				background: $white;
				margin-bottom: 21px;
				img{
					display: block;
					margin: 0 auto;
				}
			}
			a:hover .subtitle{
				color: #333;
			}
			.text{
				margin-top: 17px;
				.subtitle{
					color: $blue;
					font-size: 14px;
					line-height: 18px;
					font-weight: 700;
					margin-top: 0;
					margin-bottom: 10px;
				}
				.content{
					color: $ddgray;
					margin-top: 0;
					margin-bottom: 10px;
					font-size: 14px;
					line-height: 19px
				}
			}
		}
		&.vertical{
			padding-top:25px !important;
			margin-top: 45px !important;
			border-top:1px solid $border;
			.column{
				width: 48.47%;
			}
			.img{
				width: 33%;
				position: relative;
				float: left;
				margin: 0;
			}
			.text{
				margin-left: 33%;
				margin-top: 0;
				padding-left: 20px;
			}
		}
}