.sidebar{
	&.filters{
		padding-top: 60px;
		> .row {
			margin-top: 20px !important;
		}
		.title{
			margin-bottom: 15px;
			word-spacing: 0px;
			margin: 0 0 15px;
			display: block;
			height: 28px;
			h6{
				font-weight: $bold;
				font-size: 13px;
				color: $ddgray;
				text-transform: uppercase;
				margin: 0;
				float: left;
			}
		}
		dl dt,a,span{
			font-weight: $norm;
			color: $ddgray;
			font-size: 13px;
			margin: 0;
			outline: 0;
			line-height: normal;
		}
		a {
			color: $blue;
			span{
				color: $blue;
				border-bottom-color: $blue;
			}
			&.title{
				color: $ddgray;
				span{
					color: $ddgray;
					border-bottom-color: $ddgray;
					border: 0;
					font-size: 76%;
					font-weight: 700;
				}
				&:hover{
					color: $ddgray;
					span{
						color: $ddgray;
						border-bottom-color:$ddgray; 
					}
				}
			}
		}
		.active-filters{
			background: #f4f4f4;
			padding: 20px 15px;
			.title{
				font-size: 13px;
				height: auto;
				line-height: 13px;
				margin: 0px 0px 12px;
			}
			.type-filters{
				color: $llgray;
				margin: 7px 0px 4px;
				dt{
					margin-bottom: 4px;
					line-height: 1;
				}
				dd{
					color: $llgray;
					margin-bottom: 2px;
					line-height: 1;
				}
				
				.del{
					.icon{
						background: none;
						border: none;
						margin-right: 5px;
						span{
							font-size: 13px;
						}

						&::before{
							content: url(../img/sm-del.png);
							margin: 0;
							border: none;
						}
					}
					&:hover{
						color: $ddgray;
						span{
							color: $ddgray;
							border-bottom-color:$ddgray; 
						}
					}
				}
				.text{
					color: $llgray;
					border: none;
				}
			}
			.footer-filters {
				line-height: 1;
				.del-all:hover span{
					color: #333;
					border-bottom-color: #333;
				}
			}
		}
		.filters-content{
			margin-top: 20px;
			.accordion-navigation{
				margin-bottom: 6px !important;
				&:last-child{
					margin-bottom:0 !important;
				}
				&.active{
					.title::after{
						margin-top: 0;
						transform: rotate(0deg);
						-moz-transform: rotate(0deg);
						-webkit-transform: rotate(0deg);
					}
				}
				.title{
					background: #f4f4f4;
					display: block;
					width: 100%;
					margin: 0;
					padding: 5px 10px;
					line-height: 13px;
					&::after{
						content:url(../img/caret-sm.png);
						float: right;
						margin-top: 5px;
						transform: rotate(-180deg);
						-moz-transform: rotate(-180deg);
						-webkit-transform: rotate(-180deg);
					}
				}
			}
			.content{
				padding-top: 11px;
				padding-bottom: 4px;
				padding-left: 9px;
				padding-right: 9px;;
				input{
					display: block;
					width: 100%;
					border:1px solid #abadb3;
					font-size: 14px;
					color: #999999;
					padding: 4px 2px;
				}
				label{
					font-size: 13px;
					line-height: 13px;
					padding-left: 30px;
					padding-right: 0;
					color: #0053a0;
					font-size: 13px;
					font-weight: $norm;
					span{
						color: $llgray;
						padding-left: 5px;
					}
					&:hover{
						color: #333;
					}
				}
				.postfix{
					content: '';
					line-height: 14px;
					display: block;
					margin: 0 9px;
					height: 14px;
					text-align: center;
					border-bottom: 1px solid #999999;
				}
				&:not(#foo) input[type='checkbox']:checked + label{
					background-image: url(../img/check-blue.png);
				}
				&:not(#foo) input[type='checkbox'] + label{
					background-image: url(../img/uncheck-blue.png);
				}
				> span{
					margin-bottom: 6px;
				}
				.show-all{
					color: $ddgray;
					span{
						color: $ddgray;
						border-bottom: 1px dotted $ddgray;
					}
					&:hover{
						color: $blue;
						span {
							color: $blue;
							border-bottom-color: $blue;
						}
					}
				}
			}
		}
	}
}
.main-container{
	padding: 0 !important;
	width: 970px !important;
	&.filters{
		padding-left: 0px !important;
		> .row > .column.medium-9{
			width: 735px;
		}
		> .row > .column.medium-3{
			margin-left: 45px;
			padding-top: 7px;
			width: 190px;
		}
		.sorting{
			margin-top: 5px;
			margin-bottom: 15px;
			li, li > p, h6{
				line-height: 38px;
			}
			a, p, h6{
				display: block;
				color: #333333;
				font-size: 13px;
			}
			.toogle-tab{
					.text{
						float: left;
						margin: 9px 10px;
					}
					.toogle{
						-webkit-border-radius: 5px;
						-moz-border-radius: 5px;
						border-radius: 5px;
						overflow: auto;
						padding: 0;
						border: 1px solid #dddddd;
						width: auto;
						margin: 0;
						display: table;
						float: right;
						button{
							padding: 6px 7px;
							background: #fff;
							-webkit-box-shadow: inset 0px -3px 0px 0px #e6e8eb;
							-moz-box-shadow: inset 0px -3px 0px 0px #e6e8eb;
							box-shadow: inset 0px -3px 0px 0px #e6e8eb;
							display: block;
							float: left;
							border: 0;
							outline: 0;
							.icon{
								&::before{
									width: 21px;
									height: 16px;
									margin: 0;
								}
								&.grid::before{
									background-position: -327px -89px;
								}
								&.list::before{
									background-position: -327px -112px;
								}
							}
							&:hover,
							&.active{
								background: #dddddd;
								border-top-color: #ababab;
								border-left-color: #ababab;
								-webkit-box-shadow: inset 1px 1px 0px 0px #ababab;
								-moz-box-shadow: inset 1px 1px 0px 0px #ababab;
								box-shadow: inset 1px 1px 0px 0px #ababab;
							}
						}
					}

			}
			ul.sortfrom{
				li{
					padding-left: 20px;
					&:first-child{
						padding-left:0;
					}
					p{
						margin: 0;
					}
					a{
						span{
							border-bottom: 1px solid #333;
						}
						&:hover{
							color: $blue;
							span{
								border-bottom-color: $blue;
							}
						}
					}
					&.active{
						a,p,span{
							font-weight: $bold;
							border-bottom: 0;
						}
					}
				}
			}
		}
		.filters-content{
			border-top: 1px solid #dddddd;
			.items{
				a:hover{
					color: #333;
					span{
						border-bottom-color:#333;
					}
				}
				.item-filtered{
					background: white;
					margin-left: 0px;
					margin-right: 22px;
					margin-bottom: 10px;
					margin-top: 10px;
					width: 220px;
					height: 485px;
					z-index: 1;
					position: relative;
					.hidden{
						@include clearfix();
						overflow: hidden;
						position: relative;
						padding: 20px 0 20px 5px;
					}
					.title-block{
						min-height: 55px;
						display: block;
						width: 100%;
						margin-bottom: 15px;
						position: relative;
						.title{
							position: absolute;
							height: auto;
							display: table;
							bottom: 0;
							&:hover h4{
								color: #333;
							}
							h4{
								color: $blue;
								font-size:14px;
								font-weight: $bold;
								line-height: 16px;
								margin: 0;
							}
						}
					}
					.img-block{
						background: white;
						text-align: center;
						position: relative;
						width: 100%;
						border: 5px solid #f4f4f4;
						height: 200px;
						display: table;
						.sticker .new{
							left: -3px;
							top: -7px;
						}
						.orbit-container{
							display: table-cell;
							vertical-align: middle;
							 overflow: visible; 
							 .orbit-slides-container{
							 	overflow: hidden;
							 }
							 .orbit-prev {
							 	left: -19px;
							 	span{
							 		float: left;
									background-position: -270px -90px;
								}
							 }
							.orbit-next {
								right: -19px;
								span{
									float: right;
									background-position: -299px -90px;
								}
							}

							.orbit-prev,.orbit-next{
								top: 70px;
								margin: 0;
								width: 40px;
								height: 58px;
								padding: 10px 5px;
								display: none;
								background: none;
								span{
									content: '';
									background-image: url(../img/icons.png);
									width: 17px;
									height: 38px;
									border: 0;
									position: relative;
									top: 0;
									left: 0;
									margin: 0;
								}
							}
						}
						img{
							display: block;
							margin: 0 auto;
						}
					}
					.price-block{
						@include clearfix();
						padding: 15px 0;
						border-bottom: 1px solid $border;
							.price{
								font-weight: 700;
								font-size: 21px;
								color: #333;
								margin: 0;
								sup{
									font-size: 13px;
									top: -6px;
								}
							}
							.btn.gradient{
								margin-top: 0;
								width: 100px;
								height: 35px;
								line-height: 12px;
								display: inline-block;
								font-size: 14px;
								font-weight: 700;
								padding: 10px 0;
								color: #fff;
								text-align: center;
							}
					}
					.favorites{
						display: none;
						padding:9px 0 15px 0;
					}
					.compare-block{
						padding: 12px 0;
					}
					.favorites,
					.compare-block{
						.icon::before{
							margin-right: 5px;
						}
						.link{
							font-size: 13px;
							color: #333;
							font-weight: 400;
						}
						a:hover{
							color:$blue;
							span{
								color:$blue;
								border-bottom-color: $blue;
							}
						}
					}
					.comment{
						margin: 3px 0 8px;
						.all,.readmore{
							font-size: 13px;
							font-weight: 400;
							color: #333;
							line-height: 16px;
							display: inline-block;
							transition:opacity .1s;
						}
						.all{
							&::after{
								content:' ...';
							}
						}
						.readmore{
							height: 0;
							opacity: 0;
							display: block;
						}
					}
					.count-comments{
						.icon{
							float: left;
							margin: 0;
						}
						span{
							color: #999;
							font-size: 13px;
							border: 0;
							margin-top: -2px;
							display: block;
						}
						&:hover{
							color:$blue;
							span{
								color:$blue;
								border-bottom-color: $blue;
							}
						}
					}
					.footer{
						margin: 0px -21px 0px -17px;
						padding: 15px 14px;
						top: 1px;
						position: relative;
						display: none;
						background: #eef6f9;
						.btn{
							width: 48%;
							height: auto;
							text-align: left;
							margin: 0;
							&:last-child{
								float:right;
							}
							&.default{
								padding: 8px 14px;
							}
							&.credit-calc{
								padding: 6px 5px;
							}
						}
					}
					&.desk-visible{
						margin-right: 0;
						width: 255px;
						margin-left: -13px;
						z-index: 5;
						.hidden{
							z-index: 5;
							padding: 19px 21px 0 17px;
							background: #ffffff;
							border: 1px solid #dddddd;
							background: #ffffff;
							-webkit-box-shadow: 0px 4px 10px 0px rgba(24, 24, 24, 0.3);
							-moz-box-shadow: 0px 4px 10px 0px rgba(24, 24, 24, 0.3);
							box-shadow: 0px 4px 10px 0px rgba(24, 24, 24, 0.3);
							overflow: visible;
						}
						.orbit-container{
							.orbit-prev,.orbit-next{
								display: block;
							}
						}
						.comment .readmore{
							height: auto;
							opacity: 1;
						}
						.comment .all,
						.comment .all::after{
							opacity: 0;
							height: 0;
							display: block;
						}
						.footer,
						.favorites{
							height: auto;
							display: block;
						}
					}
				}
				&.grid{
					.item-filtered{
						width: 100%;
						height: auto;
						margin: 0 0 20px;
						padding: 0;
						&.desk-visible{
							width: 106%;
							padding: 0;
							height: auto;
							margin: 0px -30px 19px -15px;
							.hidden{
								padding: 19px 20px 20px 19px;
							}
						}
						.border-bottom{
							border-bottom:1px solid $border;
							padding-bottom: 15px;
							margin-bottom: 15px; 
						}
						.margin-left{
							width: 498px;
							margin-left: 17px;
							float: left;
							.title{
								position: relative;
								display: block;
							}
						}
						.img-block{
							width: 215px;
							float: left;
						}
						.title-block{
							display: block;
							min-height: 1px;
							margin-bottom: 10px;
						}
						.left{
							width: 116px;
						}
						.right{
							width: 376px;
						}
						.favorites,
						.compare-block{
							padding: 0;
							margin: 0;
							width: 50%;
						}
						.favorites{
							float: left;
						}
						.compare-block{
							float: right;
						}
						.price-block{
							.gradient{
								margin-right: 5px;
								width: 105px;
								float: left;
							}
							.default{
								width: 153px;
								margin-right: 1px;
								float: left;
							}
							.credit-calc{
								width: 110px;
								margin-top: -8px;
								float: left;
							}
						}
						.footer{
							background: none;
							padding: 0;
						}
						.price-block{
							padding: 0;
							border: 0;
						}
						.comment .all,
						.compare-block,
						.footer,
						.favorites{
							opacity: 1;
							height: auto;
							display: block;
							margin: 0;
						}
					}
				}
			}
		}
	}
}