.icon{
	&::before{
		content: '';
		background-image:$icon;
		margin-right: 10px;
		margin-bottom: -2px;
		width: 13px;
		height: 15px;
		display: inline-block;
		background-position: -300px -300px;
		background-repeat:no-repeat;
	}
	&.icon-padlock::before{
		background-position: 0 0;
	}
	&.triablg::before{
		background-position: 4px -15px;
	}
	&.orbit-next::before,
	&.orbit-prev::before{
		display: block;
	}
	&.orbit-next::before{
		background-position: -19px -25px;
	}
	&.orbit-prev::before{
		background-position: -19px 1px;
	}
	&.buy::before{
		background-position: 1px -52px;
	}
	&.calc::before{
		background-position: -42px -4px;
	}	
	&.compared::before{
		background-position: -49px -61px;
	}	
	&.deliv::before{
		background-position: -98px -5px;
	}
	&.hand::before{
		background-position: -166px -3px;
	}
	&.map::before{
		background-position: -159px -56px;
	}
	&.return::before{
		background-position: -233px -5px;
	}
	&.check::before{
		background-position: -101px -56px;
	}
	&.stars::before{
		width: 21px;
		height: 21px;
		margin-right: 0;
		background: none;
	}
	&.accessories::before{
		height: 63px;
		width: 72px;
		margin-top: 25px;
		margin-left: 20px;
		background-position: -4px -126px;
	}
	&.towels::before{
		height: 84px;
		width: 53px;
		margin-top: 15px;
		margin-left: 20px;
		background-position: -89px -123px;
	}
	&.paperholders::before{
		height: 71px;
		width: 45px;
		margin-top: 15px;
		margin-left: 20px;
		background-position: -154px -123px
	}
	&.batcher::before{
		height: 71px;
		width: 77px;
		margin-top: 14px;
		margin-left: 22px;
		background-position: -214px -123px;
	}
	
	&.comment::before{
		background-position: -237px -69px;
		width: 21px;
		height: 21px;
	}
}
.rate-content > span.active:before,
.rate-content > span:hover:before,
.rate-content > span:hover ~ span:before {
  background-position: -4px -93px;
  position: absolute;
  left: 0; 
  background-image: url("../img/icons.png");
}