@charset "UTF-8";

.main-section{
	width: rem-calc(990);
	padding-left: rem-calc(8) !important;
	.main-container{
		.main-title{
			font-family: $font-family-arial;
			font-size: rem-calc(31);
			line-height:rem-calc(31);
			margin-top: 0;
			margin-bottom: rem-calc(12);
			color:$title;
			text-align:left;
		}
		.main-deskrip{
			font-size: rem-calc(13);
			line-height:rem-calc(16);
			margin-bottom: rem-calc(19);
			color: $llgray;
			text-align: left;
		}
		a{
			span{
				border-bottom-style:solid;
				border-bottom-width:1px;
			}
			&:hover{
				color: #333;
				span{
					border-bottom-color: #333;
				}
			}
		}

	}
}
@import "slider";
@import "about";
@import "sticker";
.benefits{
	margin-top: rem-calc(20);
	padding: rem-calc(15);
	border: 1px solid $border;
	-webkit-box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1);
	-moz-box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1);
	box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1);
	-webkit-border-radius: rem-calc(7);
	border-radius: rem-calc(7);
	.column {
		.icon-block{
			position: relative;
			float: left;
			margin-right: rem-calc(10);
			.icon{
				&::before{
					height: 37px;
					margin-right: 0;
				}
				&.icon.hand::before{
					width: 47px;
				}
				&.icon.map::before{
					width: 53px;
				}
				&.icon.return::before{
					width: 37px;
				}
				&.icon.check::before{
					width: 37px;
				}
			}
		}
		.descr{

			p{
				font-size: rem-calc(14);
				line-height: normal;
				margin: 0;
				color: $ddgray;
			}
		}
	}
}
.tabs-description{
	margin-top: 45px;
	.tabs{
		-webkit-border-radius: 7px 7px 0 0;
		border-radius: 7px 7px 0 0;
		background: #cfdae8;
		background: -moz-linear-gradient(top, #cfdae8 0%, #d7dee8 100%);
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#cfdae8), color-stop(100%,#d7dee8));
		background: -webkit-linear-gradient(top, #cfdae8 0%,#d7dee8 100%);
		background: -o-linear-gradient(top, #cfdae8 0%,#d7dee8 100%);
		background: -ms-linear-gradient(top, #cfdae8 0%,#d7dee8 100%);
		background: linear-gradient(to bottom, #cfdae8 0%,#d7dee8 100%);
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cfdae8', endColorstr='#d7dee8',GradientType=0 );
		padding-left: 22px;
		padding-top: 6px;
		overflow: hidden;
		dd{
			&.active::before, 
			&.active::after {
				content: '';
				position: absolute;
				height: 5px;
				right: 100%;
				bottom: 0;
				width: 1000px;
				-webkit-box-shadow: inset 0px -2px 5px 0px rgba(0, 0, 0, 0.15);
				-moz-box-shadow:    inset 0px -2px 5px 0px rgba(0, 0, 0, 0.15);
				box-shadow:         inset 0px -2px 5px 0px rgba(0, 0, 0, 0.15);
			}
			&.active:after {
				right: auto;
				left: 100%;
				width: 4000px;
				z-index: 10;
			}
			&.active + dd a{
				border-left: none;
			}
			&.active a{
				border-bottom: none;
				z-index: 100;
				-webkit-border-radius: 7px 7px 0 0;
				border-radius: 7px 7px 0 0;
				border-left-color: #D0DAE8;
				h4{
					border-color: #fff;
				}
			}
			&:first-child a{
				border-left: none;
			}
			a{
				padding: 17px 51px 20px 51px;
				font-size: 16px;
				font-weight: 700;
				border-left: 1px solid #bcc6d3;
				h4 {
					color: #333333;
					font-size: 16px;
					font-weight: 700;
					font-family: "Open sans", sans-serif;
					margin: 0;
					border-bottom: 1px dotted #333;
				}
			}
		}
	}
	.tabs-content{
		.content {
			@include clearfix();
			padding: 24px 22px;
			font-size: 14px;
			line-height: 19px;
			color: $ddgray;

			.rate-stars{
				width: 230px;
				@include clearfix();
				.rate-titie{
					text-align: left;
					width: 105px;
					display: block;
					float: left;
					position: relative;
					> *{
						font-size: 14px;
						line-height: 19px;
						padding: 0px;
						margin:0;
						color: $ddgray;
					}
				}
				.rate-content{
					margin-left: 110px;
					> a{
						background-image: url("../img/icons.png");
						background-position: -27px -93px;
						width: 21px;
						height: 21px;
						display: inline;
						position: relative;
						float: right;
						&:hover,
						&.active{
							background: none;
							cursor: pointer;
						}
					}
					a.active:before, 
					a:hover:before,
					a:hover ~ a:before {
						background-position: -4px -93px;
						position: absolute;
						left: 0;
						background-image: url("../img/icons.png");
					}
					.rate-footer{
						display: block;
						font-size: 14px;
						padding-left: 2px;
						line-height: 19px;
						font-weight: 700;
						color: $ddgray;
						text-align: left;
						width: auto;
						float: right;
						background: none;
					}
				}
			}

			&.characteristics{
				table.column {
					@include clearfix();
					margin-right: 20px;
					margin-bottom: 0;
					padding: 0;
					width: 48%;
					tr td:nth-of-type(even){
						font-weight: 700;
					}
					&:last-child{
						margin-right: 0;
					}
					a {
						color: #333;
						&:hover {
							color: #0053a0;
							border-bottom: 1px solid #0053a0;
						}
					}
				}
			}
			&.reviews{
				.reviews-actions{
					padding-bottom: 15px;
					border-bottom: 1px solid $border;
					margin-bottom: 16px;
					.general .rate-stars .rate-footer{
						float: left;
						padding-left: 20px;
					}
				}
				.reviews-content{
					.medium-9{
						width: 698px;
					}
					.medium-3{
						width: 240px;
					}
					
					.reviews-items{
						border-right:1px solid $border;
						.item{
								margin-top: 35px;
								&:first-child{
									margin-top: 0;
								}
								&:first-child::before{
									top: -22px;
								}
								&::before{
									content: url(../img/reviewsborder.png);
									width: 729px;
									height: 10px;
									display: block;
									position: relative;
									top: -6px;
								}
								.header{
									padding: 22px 40px 33px 15px;
									.name{
										.name{
											font-size: 14px;
											font-weight: 700;
											color: $ddgray;
											margin-bottom: 0;
										}
										.time{
											font-size: 13px;
											color: $llgray;
										}
									}
									.rate-stars{
										float: right;
										.rate-titie{
											*,
											p{
												font-size: 13px;
												color: $llgray;
											}
										}
									}
								}
								.comment{
									padding: 0 40px 0 15px;
									color: $comment-color;
									font-size: 13px;
									.comment-text{
										@include clearfix();
										color: $comment-color;
										margin-bottom: 20px;
										font-size: 13px;
										&:last-child{
											margin-bottom: 0px
										}
										h6{
											font-weight: 700;
											color: $black;
											font-size: 13px;
											margin-bottom: 0;
											margin-top: 0;
										}
										p{
											font-weight: 400;
											color: $comment-color;
											font-size: 13px;
											margin-top: 0;
											margin-bottom: 20px;
											&:last-child{
												margin-bottom: 0px;
											}
										}
									}
								}
						}
					}
					.buy-more{
							padding-top: 25px;
							padding-left: 30px;
							.title{
								font-weight: 700;
								font-size: 18px;
								color: $title;
								line-height: 22px;
								margin-bottom: 25px;
								margin-top: 3px;
							}
							ul{
								margin: 0;
								li{
									list-style: none;
									position: relative;
									margin-bottom: 20px;
									&:last-child{
										margin-bottom: 0;
									}
									.img{
										margin-bottom: 12px;
									}
									.about-buy-more{
										width:auto;
										padding: 0;
										.link{
											font-size: 14px;
											line-height: 16px;
											color: $blue;
											span{
												border-bottom: 1px solid $blue;
											}
											&:hover{
												color: #333;
												span{
													border-bottom: 1px solid #333;
												}
											}
										}
										.price{
											font-weight: 700;
											font-size: 21px;
											color: $ddgray;
											margin: 0;
											sup{
												top:-5px;
											}
										}
									}
								}
							}
					}
				}
			}
		}
	}
}

ul.pagination{
	padding:40px 0;
	li{
		text-align: center;
		color: black;
		font-size: 14px;
		font-weight: 300;
		line-height: 37px;
		background: white;
		margin-right: 5px;
		-webkit-border-radius: 5px;
		-moz-border-radius: 5px;
		border-radius: 5px;
		overflow: hidden;
		&:last-child{
			margin-right: 0; 
		}
		&.active a, & a:hover{
			background: #dddddd;
			font-weight: 700;
			border-top-color: #ababab;
			border-left-color: #ababab;
			-webkit-box-shadow: inset 1px 1px 0px 0px #ababab;
			-moz-box-shadow: inset 1px 1px 0px 0px #ababab;
			box-shadow: inset 1px 1px 0px 0px #ababab;	
		}
		a{
			font-size: 14px;
			font-weight: 300;
			color: black;
			padding: 8px 14px;
			border: 1px solid #dddddd;
			-webkit-box-shadow: inset 0px -3px 0px 0px #e6e8eb;
			-moz-box-shadow: inset 0px -3px 0px 0px #e6e8eb;
			box-shadow: inset 0px -3px 0px 0px #e6e8eb;
		}
	}
}

@import "stick_slider";
.row.collapse.about{
	margin-top: 8px !important;
}

.other-products{
	border-top: 1px solid $border;
	margin-top: 62px;
	padding-top: 25px;
	position: relative;
	&:hover{
		z-index: 100;
	}
	.title{
		color: $title;
		font-size: 21px;
		margin-bottom: 5px;
		margin-top: 0;
	}
}
.item-filtered,
.multiple-items-4,
.multiple-items{
	&.insale{
		.price{
			position: relative;
			> span{
				display:table;
				font-size: 21px;
				line-height: 1;
				word-spacing: -1px;
			}
			.old{
				line-height: 1;
				position: relative;
				color: #999999;
				padding-bottom:4px;
				&::before {
					position: absolute;
					content: "";
					left: -3px;
					top: 50%;
					right: 0;
					border-top: 2px solid;
					border-color: #ed1c24;
					-webkit-transform:rotate(-5deg);
					-moz-transform:rotate(-5deg);
					-ms-transform:rotate(-5deg);
					-o-transform:rotate(-5deg);
					transform:rotate(-5deg);
				}
			}
		}
	}
}


.multiple-items-4,
.multiple-items{
		.slick-slide{
		
			padding: 20px 20px 15px 20px;
			border: 1px solid transparent;
			margin-right: 7px;
			&.desk-visible{
				.btn, .link, .deskript{
					display: block !important;
				}
				border: 1px solid $border;
				background:$white;
				-webkit-box-shadow: 0px 4px 30px 0px rgba(24, 24, 24, 0.3);
				-moz-box-shadow:    0px 4px 30px 0px rgba(24, 24, 24, 0.3);
				box-shadow:         0px 4px 30px 0px rgba(24, 24, 24, 0.3);
			}
			.img{
				position: relative;
				margin-bottom: 10px;
				text-align: center;
				img{
					margin: 0 auto;
				}
				.sticker span{
					top: 0;
				}
			}
			.desckription{
				.title{
					font-size: 13px;
					font-weight: 700;
					color: #0053a0;
					margin-top: 0;
					margin-bottom: 10px;
					line-height: 16px;
					display: block;
					span{
						border-bottom: 1px solid $blue;
					}
					&:hover{
						color: #333;
						span{
							border-bottom: 1px solid #333;
						}
					}
				}
				.price{
					font-size: 21px;
					line-height: 16px;
					font-weight: 700;
					color: $ddgray;
					sup{
						top: -8px;
						font-size: 13px;
					}
				}
				.btn{
					font-size: 14px;
					margin-bottom: 10px;
					margin-top: 0;
					padding-bottom: 0;
					padding-top: 0;
					width: 150px;
					height: 33px;
					line-height: 33px;
					display: none;
					color: #fff;
					-webkit-box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.3);
					-moz-box-shadow:    0px 2px 2px 0px rgba(0, 0, 0, 0.3);
					box-shadow:         0px 2px 2px 0px rgba(0, 0, 0, 0.3);
					.icon{
						display: block;
						float: left;
						height: 33px;
						width: 34px;
						border: 0;
						&::before{
							background-position: 1px -52px;
							width: 36px;
							height: 36px;
							-moz-transform: scale(.7);
							-webkit-transform: scale(.7);
							-o-transform: scale(.7);
							-ms-transform: scale(.7);
							transform: scale(.7);
							margin-right: 0;
						}
					}
				}
				.link{
					font-size: 12px;
					line-height: normal;
					color: $ddgray;
					display: none;
					margin-bottom: 17px;
					span{
						border-bottom: 1px dotted #333;
					}
					&:hover{
						color: $blue;
						span{
							border-bottom-color:$blue; 
						}
					} 
				}
				.deskript{
					font-size: 13px;
					position: relative;	
					line-height: 17px;
					color: $ddgray;	
					display: none;
					margin-bottom: 0;
					&::after{
						content: '';
						position: absolute;
						bottom: 0;
						left: 0;
						height: 50px;
						line-height: 50px;
						width: 100%;
						background: -moz-linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0) 1%, rgba(255, 255, 255, 0.5) 100%);
						background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(255, 255, 255, 0)), color-stop(1%, rgba(255, 255, 255, 0)), color-stop(100%, rgba(255, 255, 255, 0.5)));
						background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0) 1%, rgba(255, 255, 255, 0.5) 100%);
						background: -o-linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0) 1%, rgba(255, 255, 255, 0.5) 100%);
						background: -ms-linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0) 1%, rgba(255, 255, 255, 0.5) 100%);
						background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0) 1%, rgba(255, 255, 255, 0.5) 100%);
						filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#80ffffff',GradientType=0 );
					}
				}
			}

		}
}

footer{
	background: #f4f4f4;
	padding-top: 49px;
	margin-top: 70px;
	padding-bottom: 31px;
	max-width: none;
	font-size: 13px;
	color: $ddgray;
	text-align: center;
	&.footer-copyright{
		padding-top:57px;
		padding-bottom:100px;
		p{
			margin:0;
			padding: 0;
			text-align: left;
			font-size:13px;
		}
	}
	.title{
		font-size: 13px;
		font-weight: 700;
		color: $title;
		text-align: left;
		margin-top: 10px;
		margin-bottom: 10px;
	}
	.contact{
		.title {
			padding-left: 7px;
		}
	}
			
	ul{
		margin: 0;
		padding-bottom: 25px;
		a:hover span{
			color: $blue;
			border-bottom-color: $blue;
		}
		&.contact{
			.title {
				padding-left: 7px;
			}
			a:hover span{
				color: #333;
				border-bottom-color: #333;
			}
			li{
				@include clearfix();
				margin-bottom: 15px;
				text-align: left;
				&.phone{
					line-height: 21px;
					.number{
						font-size: 21px;
					}
				}
				p:first-child{
					width: 110px;
					float: left;
					position: relative;
					margin: 0;
				}
				p{
					margin-left: 121px;
					padding-left: 7px;
					font-size: 13px;
					margin-bottom: 0;
					margin-top: 0;
					b{
						font-size: 21px;
						line-height: 17px;
					}
				}
				a{
					span{
						border-bottom: 1px solid $blue;
					}
					color: $blue;
				}
				.wrk{
					color: $ddgray;
					font-size: 13px;
					line-height: 13px;
					margin-right: 8px;
					sup{
						top:-4px;
					}
					.day{
						text-transform: uppercase;
						padding: 2px 6px;
						border: 1px solid #3e3e3e;
						-webkit-border-radius: 2px;
						-moz-border-raius: 2px;
						border-radius: 2px;
					}
				}
				.wek{
					color: $red;
					font-size: 13px;
					line-height: 13px;
					sup{
						top:-4px;
					}
					.end{
						text-transform: uppercase;
						padding: 2px 6px;
						border: 1px solid $red;
						-webkit-border-radius: 2px;
						-moz-border-raius: 2px;
						border-radius: 2px;
					}
				}
			}
		}
		li{
			list-style: none;
			margin-bottom: 15px;
			line-height: 17px;
			font-size: 13px;
			color: $ddgray;
			text-align: left;
			a{
				font-size: 13px;
				color: $ddgray;
				span{
					border-bottom: 1px solid #8e8e8e;
				}
				&:hover{
					color: #333;
				}
			}
		}
	}
	.row{
		> *{
			font-size: 13px;
			color: $ddgray;
			line-height: 13px;
			text-align: center;
		}
		.copyright{
			text-align: left;
			padding-left:25px;
		}
		&:first-child{
			margin-top: 0;
		}
		margin-top: 32px;
		&.link-footer{
			.column{
				padding-left: 20px;
				border-right: 1px solid $border;
				&:last-child{
				
					border-right: none;
				}
			} 
		}
	}
}
.catalog-brands{
	margin-top: 55px !important;
	.img{
		overflow: hidden;
		border: 1px solid $border;
		height: 95px;
		width: 140px;
		margin-bottom: 20px;
	}
	.icon{
		background: #eef6f9;
		height: 95px;
		width: 140px;
		margin-bottom: 20px
	}
	.table{
		margin-bottom: 56px;
		.title{
			font-size: 14px;
			line-height: 14px;
			color: $blue;
			a{
				font-size: 16px;
				line-height: 21px;
				padding-right: 32px;
				color: #0053a0;
				vertical-align: top;
				display: block;
				.underline{
					border-bottom-color:#0053a0;
				}
				&:hover{
					color:#333;
					span{
						border-bottom-color:#333;
					}
				}
			}
			h6{
				font-size: 13px;
				line-height: 13px;
				color: #999999;
				margin-top: 7px;
				margin-bottom: 10px;
			}
		}
		.row{
			background: $white;
			.row-line{
				display: table-row;
				.row-cell {
					vertical-align: top;
					width: 22%;
					padding: 0 0 25px 0;
					display: table-cell;
				}
			}
		}
		.img{
			position: relative;
			overflow: hidden;
			border: 1px solid #dddddd;
			height: 95px;
			width: 140px;
			margin-bottom: 20px;
			img{
				position: absolute;
				top: 50%;
				left: 50%;
				-webkit-transform: translate(-50%, -50%);
				transform: translate(-50%, -50%);
			}
		}
	}
	ul{
 	margin: 0;
		li {
		 	list-style: none;
		 	line-height: 19px;
		 	.link{
				font-size: 13px;
				line-height: 20px;
				color: #333333;
				display: table;
				span{
					border-bottom: 1px solid #878787;
				}
				&:hover{
					color:$blue;
					span{
						border-bottom-color:$blue;
					}
				}
		 	}
		}
	}
}
.promo-box{
	> .column{
		width: 48.47%;
	}
	.stock{
		padding: 13px 23px 12px !important;
		border-radius: 0 !important;
		-webkit-border-radius: 0 !important;
		-moz-border-radius:0 !important;
	}
	.promo-tile{
		background: url("../img/flor.jpg");
		text-align: center;
		>*, p{
			padding: 13px 50px !important;
			display: block;
			font-size: 27px;
			line-height: 40px;
			margin: 0;
			color: #333;
			color: #4a5b70;
			border-bottom: 1px solid #dddddd;
			&:hover span{
				color: $blue;
				border-bottom-color: $blue;
			}
		}
	}
}
.row.about.side{
	margin-left: 60px !important;
	width: 505px;
}
.about .row.price-info .delivery {
	width: 190px;
	padding: 15px;
	margin-top: 25px;
}
.about .row.price-info .delivery .title {
	margin-bottom: 13px;
	margin-top: 0;
}
.about .row.price-info .delivery .icon {
	display: block;
	float: none;
}
.about .delivery .title .icon::before {
	width: 45px;
	height: 30px;
	margin-right: 7px;
}
.about .row.price-info .delivery .provided {
	width: auto;
}
.about .row.price-info .delivery .provided p {
	word-break: normal;
	word-wrap: break-word;
	margin-bottom: 15px;
}
.about .delivery .row .provided p {
	font-size: 0.8125rem;
	color: #999999;
	font-weight: 400;
	margin-top: 0;
}
.about .row.price-info .delivery .cost {
	padding: 0;
}
.about .delivery .row .cost p {
	font-size: 0.8125rem;
	color: #333333;
	margin: 0 0 10px;
}
.row.about-block{
	border-top: 1px solid $border;
	padding-top: 30px;
	margin-top: 40px !important;
	.title{
		font-size: 21px;
		margin-bottom: 20px;
		line-height: 19px;
		font-weight: 700;
		color: $title;
	}
	.table{
		display: table;
		margin-top: 15px;
		margin-bottom: 10px;
		background: #eef6f9;
		padding: 20px 10px;
		width: 100%;
		.row {
			display: table-row;
			ul {
				display: table-cell;
			}
		}
	}
	ul{
		margin: 0;
		li{
			list-style: none;
			color: $blue;
			font-size: 14px;
			line-height: 17px;
			margin-bottom: 10px;
			&:last-child{
				margin-bottomL:0;
			}
		}
	}
	a{
		font-size: 14px;
		line-height: 19px;	
		border-bottom:1px solid $blue;
		color: $blue;	
	}
	>*,p{
		font-size: 14px;
		line-height: 19px;
		color: $llgray;
	}
}

@import 'catalog';
@import "form";
@import "basket-table";


.reveal-modal{
	width: 100%;
	max-width: 810px;
	left: 0;
	right: 0;
	margin: 0 auto;
	border:5px solid #bdce00;
	padding: 0;
	border-radius: 15px;
	-webkit-border-radius:15px;
	-moz-border-radius:15px;
}

		.close-reveal-modal{
			top: -25px;
			right: -40px;
			content: url("../img/close-btn.png");
		}

.basket {
	.sm-desk{
		font-size: 13px;
		font-weight: 400;
		color: #999999;
		line-height: 13px;
		margin: 3px 0 8px;
		span{
			display: block;
			margin-top: 2px;
		}
	}
	.price{
		font-size: 31px;
		font-weight: 700;
		margin: 0;
		color: #333;
		sup{
			top: -10px;
			font-size: 65%;
		}
	}
	.basket-header{
		border-radius: 15px;
		-webkit-border-radius: 15px;
		-moz-border-radius: 15px;
		background: #eef6f9;
		padding: 23px 29px 17px;
		.modal-title{
			font-weight: 700;
			font-size: 18px;
			color: #4a5b70;
			margin: 0;
		}
		.close-reveal-modal{
			top: -25px;
			right: -40px;
			content: url("../img/close-btn.png");
		}
	}
	.basket-view{
		padding: 29px 34px;
		.del{
			width: 24px;
			padding: 5px 0px 0px;
			.btn-del{
				padding: 0;
				border: 0;
				outline: none;
				background: url(../img/del-btn.png);
				width: 20px;
				height: 20px;
			}
		}
		.img{
			padding: 0;
			width: 150px;
			height: 130px;
		}
		.name-product{
			width: 265px;
			padding-left: 28px;
			padding-top: 6px;
			.prod-desk{
				font-size: 14px;
				font-weight: 400;
				color: #333;
				margin-bottom: 15px;
				margin-top: 0;
				line-height: 16px;
			}
		}
		.sum,
		.amount{
			width:145px;
			padding-top: 6px;
			.area{
				color: #22bee8;
				font-size: 12px;
				margin: 3px 0 8px;
				span{
					font-weight: 700;
					sup{
						top: -2px;
					}
				}
			}
		}
	}
	.basket-actions{
		.total{
			text-align: right;
			margin: 0 40px;
			border-top: 1px solid #dddddd;
			padding-top: 20px;
			padding-bottom: 20px;
		}
		.btn-group{
			margin: 0 40px;
			padding-bottom: 35px;
			.btn{
				position: relative;
			}
		}
	}
	.basket-footer{
		border-radius: 15px;
		-webkit-border-radius: 15px;
		-moz-border-radius: 15px;
		border-top: 1px solid #dddddd;
		padding: 28px 30px;
		background: #efeeee;
		position: relative;
		&::before{
			content: '';
			background-image: url(../img/shadow_footer.png);
			width: 100%;
			height: 8px;
			display: block;
			position: absolute;
			top: 0;
			left: 0;
		}
		.title{
			font-size: 18px;
			color: #4a5b70;
			font-weight: 700;
			margin-top: 0;
			margin-bottom: 20px;
		}
		.multiple-items-4{
			margin: 0 auto;
			height: 100%;
			&.slick-slider::before{
				top: -48px;
				right: 10px;
				background: #ffffff;
			}
			.slick-next,
			.slick-prev{
				top: -48px;
			}
			.slick-next{
				right: 12px;
			}
			.slick-prev{
				right: 47px;
			}
		}
	}
}
.enlarged-photo{
	.photo-header{
		.title{
			font-size: 31px;
			padding: 30px 40px 0;
			color: #4a5b70;
			margin-top: 0;
			margin-bottom: 0;
			line-height: 30px;
			text-align: center;
			font-family: Arial;
		}
	}
	.photo{
		overflow: hidden;
		padding: 43px 40px 12px;
		position: relative;
		border-bottom: 1px solid #dddddd;
		.orbit-container{
			overflow: visible;
			max-height: 600px;
			ul li img{
				margin: 0 auto;
			}
			.orbit-next,.orbit-prev{
				height: 100%;
				width: 45%;
				top: 24px;
				&::before{
					content:'';
					background-image: $icon;
					height: 70px;
					width: 30px;
					display: block;
					top: 45%;
					position: relative;
				}
				&:hover{
					background: none;
				}
				span{
					display: none;
				}
			}
			.orbit-next::before{
				float: right;
				background-position: -330px -9px;
			}
			.orbit-prev::before{
				background-position: -289px -9px;
			}
			.orbit-slide-number{
				top: -30px;
				left: 0;
				z-index: 10;
				width: 100%;
				text-align: center;
				font-size: 13px;
				color: #999999;
				span{
					font-weight: 400;
					padding: 5px 0px;
				}
				&::before {
					content: 'Изображение ';
				}
			}
		}
	}
	.photo-footer{
		background: #eef6f9;
		padding-bottom: 10px;
		padding-top: 10px;
		zoom: 1;
		border-top: 1px solid #dddddd;
		zoom: 1;
		@include clearfix();
		.row{
			.left{
				text-align: right;
				padding-right: 12px;
				.sm-desk{
					color: #999999;
					font-size: 0.75rem;
					margin: 0;
				}
				.price{
					font-size: 51px;
					font-weight: 700;
					margin: 0;
					color: #333;
					line-height: normal;
					sup{
						top: -16px;
						font-size: 59%;
					}
				}
			}
			.right{
				text-align: left;
				padding-left: 12px;
				p{
					color: #009900;
					font-size: 0.75rem;
					margin-top: 0;
					margin-bottom: 10px;
				}
				.btn{
					.icon{
						float: left;
						width: 36px;
						height: 55px;
						&::before{
							width: 36px;
							height: 36px;
							margin-top: 10px;
						}
					}
				}
			}
		}
	}
}