.sidebar{
	padding-top:rem-calc(20);
	> .row{
		margin-top: rem-calc(75) !important;
		.title{
			font-size: rem-calc(15);
			font-weight: 700;
			line-height: rem-calc(16);
			margin: rem-calc(8) 0 rem-calc(25);
			color: $ddgray;
			text-decoration: none;
			display: table;
			margin-left: rem-calc(10);
			letter-spacing: 0px;
			word-spacing: 0px;
		}
		> a{
			margin-top: 15px;
			display: block;
			span{
				border-bottom: 1px solid $blue;
			}
		}
		a{
			> span{
				border-bottom: 1px solid $ddgray;
			}
		}
		&.menu-tree{
			text-align: left;
			color: $ddgray;
			// .title.tree{
			// 	border-bottom: rem-calc(1) solid $border-under;
			// }
			.accordion{
				.accordion-navigation{
					margin-bottom: rem-calc(14);
					&.active{
						margin-bottom: rem-calc(4) !important;
					}
					> .icon{
						display: block;
						position:relative;
						float:left;
						height: 17px;
						margin-right: 1px;
						&::before{
							display: block;
							width: 18px;
							height: 11px;
							margin: 0;
						}
					}
					> a{
						color:$blue;
						font-size: rem-calc(14);
						line-height: rem-calc(17);
						font-weight: 400;
						padding: 0 rem-calc(5) 0 rem-calc(19);
						> span{
							border-bottom:1px solid $blue;
						}
						&:hover{
							color: #333;
						}
						&:last-child{
							margin-bottom: 0;
						}
					}
					&.active{
						> .icon::before{
							background-position: 2px -27px;
							height: 18px;
						}
						> a{
							font-weight: 700;
							color:$black;
						}
					}
					.content{
						padding: rem-calc(13) rem-calc(15) rem-calc(5) rem-calc(13);
						ul{
							margin-bottom: 0;
							margin-top:0;
							li{
								list-style: none;
								margin-bottom: rem-calc(5);
								a{
									font-size: rem-calc(14);
									line-height: rem-calc(17);
									> span{
										border-bottom:1px solid $blue;
									}
									&:hover{
										color:#333;
										> span{
											border-bottom:1px solid #333;
										}
									}
								}
							}
						}
					}
				}
			}
		}
		&.brand{
			.title.brand{

			}
			.content{
				border:1px solid $border;
	
				.brand-img{
					border-bottom:1px solid $border;
					width:100%;
					height: rem-calc(110);
					> div{
						display:table;
						width: 100%;
						height: 100%;
						> div{
							display: table-cell;
							vertical-align: middle;
							img{
								margin: 0 auto;
								display: block;
							}
						}
					} 
				}
			}
		}
	}
}
