.slick-slider {
		position: relative;
		height: 260px;
		overflow-y: visible;
	    box-sizing: border-box;
	    -moz-box-sizing: border-box;
	    -webkit-touch-callout: none;
	    -webkit-user-select: none;
	    -khtml-user-select: none;
	    -moz-user-select: none;
	    -ms-user-select: none;
	    user-select: none;
	    -ms-touch-action: pan-y;
	    touch-action: pan-y;
	    -webkit-tap-highlight-color: transparent;
}
.slick-list.draggable{
	cursor: pointer;
	cursor:-webkit-grab;
}
.slick-list {
	    position: relative;
	    overflow-x: hidden;
	    display: block;
	    margin: 0;
	    padding: 0;

	    &:focus {
	        outline: none;
	    }

	    .slick-loading & {
	        background: #fff slick-image-url("ajax-loader.gif") center center no-repeat;
	    }

	    &.dragging {
	        cursor: pointer;
	        cursor: hand;
	    }
}
.slick-slider .slick-track {
	    -webkit-transform: translate3d(0, 0, 0);
	    -moz-transform: translate3d(0, 0, 0);
	    -ms-transform: translate3d(0, 0, 0);
	    -o-transform: translate3d(0, 0, 0);
	    transform: translate3d(0, 0, 0);
}
.slick-track {
	    position: relative;
	    left: 0;
	    top: 0;
	    display: block;
		padding-bottom: 40px;
	    &:before,
	    &:after {
	        content: "";
	        display: table;
	    }

	    &:after {
	        clear: both;
	    }

	    .slick-loading & {
	        visibility: hidden;
	    }
}
.slick-slide {
	    float: left;
	    height: 100%;
	    min-height: 1px;
	    img {
	        display: block;
	    }
	    &.slick-loading img {
	        display: none;
	    }

	    display: none;

	    &.dragging img {
	        pointer-events: none;
	    }

	    .slick-initialized & {
	        display: block;
	    }

	    .slick-loading & {
	        visibility: hidden;
	    }

	    .slick-vertical & {
	        display: block;
	        height: auto;
	        border: 1px solid transparent;
	    }
}
.slick-prev{
	right: 37px;
	border-right: 0.0625rem solid #dddddd !important;
	&::before{
		background-position: -19px 1px;
		width: 15px;
		height: 25px;
		margin: 4px auto 4px;
	}
}
.slick-slider::before{
	content: '';
	top: -35px;
	right: 0px;
	position: absolute;
	border: 0.0625rem solid #dddddd;
	border-radius: 0.25rem;
	width:76px;
	height: 35px;
	-webkit-box-shadow: inset 0px -3px 0px 0px #e6e8eb;
	-moz-box-shadow: inset 0px -3px 0px 0px #e6e8eb;
	box-shadow: inset 0px -3px 0px 0px #e6e8eb;
}
.slick-next{
	right: 1px;
	&::before{
		background-position: -19px -24px;
		width: 15px;
		height: 25px;
		margin: 4px auto 4px;
	}
}
.slick-next, .slick-prev{
	background: none;
	border: none;
	outline: none;
	margin: 0 auto;
	width: 2.1875rem;
	height: 2.1875rem;
	position: absolute;
	top: -35px;
	&::before{
		content: '';
		background-image: url("../img/icons.png");
		background-repeat: no-repeat;
		display: block;
	}
}
.orbit-bullets-container {
	overflow: hidden;
	margin: 0;
	position: absolute;
	width: 100%;
	height: 30px;
	bottom: 0;
	left: 0;
	float: none;
	text-align: center;
	display: block;
	.orbit-bullets{
		margin:0;
		top:0;
		li{
			background: $white;
			border:1px solid #dedcda;
			width: 13px;
			height: 13px;
			&.active{
				border:1px solid #999999;
				background: #999999;
			}
		}
	}
}